asgiref==3.5.0
awsebcli==3.20.3
botocore==1.23.54
cement==2.8.2
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.3
distlib==0.3.5
Django==4.0.2
django-simple-sso==1.1.0
filelock==3.7.1
future==0.16.0
idna==3.3
itsdangerous==0.24
jmespath==0.10.0
mysql-connector-python==8.0.28
mysqlclient==2.1.0
numpy==1.23.1
pathspec==0.9.0
Pillow==9.2.0
platformdirs==2.5.2
pypiwin32==223
python-dateutil==2.8.2
pywin32==304
PyYAML==5.4.1
rdkit==2022.3.4
requests==2.26.0
semantic-version==2.8.5
six==1.14.0
sqlparse==0.4.2
termcolor==1.1.0
tzdata==2021.5
urllib3==1.26.7
virtualenv==20.16.3
wcwidth==0.1.9
webservices==0.7
