{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="author" href="https://scholar.google.com/citations?user=gci8pWIAAAAJ&hl=en">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% include 'CoreStaticTemplates/staticCss.html' %}
    <style>
    .tutorial {
    position: fixed;
    display: none;
    min-width: 50%;
    min-height: 50%;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    /* top: 0; */
    
    background-color: rgba(0,0,0,0.3);
    z-index: 2;
    cursor: pointer;
    }

    #tutorial-container{
        display:flex;
        justify-content:center;
    }
    [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
        position: relative;
        opacity: 1;
        pointer-events: auto;
    }
       [type="radio"]:not(:checked), [type="radio"]:checked {
        position: relative;
        display: inline-flex;
        opacity: 1;
        pointer-events: auto;
        margin-left: 10px;
    } 
    select{
        position: relative;
        width: 15%;
        margin: auto;
        display: block;
        opacity: 1;
        pointer-events: auto;
    }
    #molecule-dropdown{
        outline: 5px dotted green;
    }
    .column {
        float: left;
        width: 66.6%;
        padding: 5px;
    }
    .initdis {
        display: none;
    }
    /* .card {
        margin: auto;
    } */
    .maptext{
        color: black;
        text-align: center;
    }
    .map:hover{
        box-shadow: 3px black;
    }
    #mapbox{
       display:flex;
       flex-wrap: wrap;
       justify-content: center; 
    }
    .break {
        flex-basis: 100%;
        height: 0;
    }
    .fg{
        background-color: azure;
    }
    .active{
        background: yellow;
    }
    .fg.solved{
        background: green;
    }
    .rotbquestion.solved{
        background: green;
    }
    #questionbox1.solved{
        background-color: lightgreen;
    }
    #questionbox1.solved::after {
        font-weight: bold;
        color: black;
        content: "Good Job!";
        text-align: center;
    }
    input[type="text"]{
        text-align: center;
    }
    input[type="text"]::placeholder {
        text-align: center;
        color: black;
    }

</style>
</head>


<body>

<div id="page-container" class="">
    <div id="content-wrap">
        <div class="container-fluid teal darken-4" style="height: 5rem;">
            <div class="h-100 text-center display-4 text-white">Pharmaceutics pKa</div>
    </div>
        
    <input style="text-align:center; margin: 5px;" type="button" value="Help" id="help" onclick="helpdisplay()"/>
    {% load static %}
    <div id = "tutorial-container">
        <img id="tutorial1" class="tutorial" src="{% static 'ebdjango/tutorial1.png' %}" onclick="helpdisplay2()">
        <img id="tutorial2" class="tutorial" src="{% static 'ebdjango/tutorial2.png' %}" onclick="helpdisplay3()">
        <img id="tutorial3" class="tutorial" src="{% static 'ebdjango/tutorial3.png' %}" onclick="helpdisplayoff()">
    </div>
      
    <form style="text-align:center;" id="drugLookupForm" name="myForm">
        <label for="molecule-dropdown"> Database Drugs </label>
        <select id="molecule-dropdown">
            {% for mol in molecule_list %}
                <option value = {{ mol }}>{{ mol }}</option>
            {% endfor %}
        
        <label>Drug Search: <input type="text" name="fname" id="fname" style="width:750px; background: rgb(201, 237, 196);" placeholder="Search Drug Name via PubChem, or leave blank to use dropdown. Separate up to 4 drugs with commas."></label>
        <br/>
            <label for="maptag"> Map Overlay </label>
            <select id="maptag" name="maptag">
                <option value="electron">Electronegativity</option>
                <option value="logp">Hydrophobicity</option>
            
            <input style="display: inline-block;" type="checkbox" id="viewercheck" name="viewercheck">
            <label for="viewercheck"> 3D model</label>
            <input style="display: inline-block;" type="checkbox" id="desccheck" name="desccheck">
            <label for="desccheck"> Descriptive Mode</label>
            <input style="display: inline-block;" type="checkbox" id="mapmodecheck" name="mapmodecheck">
            <label for="mapmodecheck"> Map Mode</label>
            <!-- <input style="display: inline-block;" type="checkbox" id="feedbackcheck" name="feedbackcheck">
            <label for="feedbackcheck">  Feedback</label> -->
            <br>
        <input id = 'drugSubmit' style="text-align:center;" type="submit" value="Submit" onclick="setTimeout('enable()', 5000)"/>
    </form>
    <script>
        function helpdisplay() {
            document.getElementById("tutorial1").style.display = "block";}   
        function helpdisplay2() {
            document.getElementById("tutorial1").style.display = "none";   
            document.getElementById("tutorial2").style.display = "block";}   
        function helpdisplay3() {
            document.getElementById("tutorial2").style.display = "none";   
            document.getElementById("tutorial3").style.display = "block";} 
        function helpdisplayoff() {
            document.getElementById("tutorial3").style.display = "none";}
        viewercheck.addEventListener('change', () => {
        if(viewercheck.checked) {
            dmodel.style.display = 'contents';
        } else {
            dmodel.style.display = 'none';
        }})
        desccheck.addEventListener('change', () => {
        if(desccheck.checked) {
            desc.style.display = 'contents';
        } else {
            desc.style.display = 'none';
        }})
        mapmodecheck.addEventListener('change', () => {
        if(mapmodecheck.checked) {
            dmodel.style.display = 'contents';
        } else {
            dmodel.style.display = 'none';
        }})
        // feedbackcheck.addEventListener('change', () => {
        // if(feedbackcheck.checked) {
        //     feedback.style.display = 'contents';
        // } else {
        //     feedback.style.display = 'none';
        // }})
    </script>
    
    <div class="container-fluid">
        <div class="row" >
            <div class="mapbox" id="mapbox">

            </div>
            <div class="column">
                        {{ svg|safe }}
                        {% csrf_token %}
                        <ul style="text-align:center;" id="druginfo"></ul>
            </div>
            
            <div>
                <div id="questionbox1" class="card" style="visibility: hidden">
                    <text style="visibility:inherit; text-align:center">Pka and FG questions</text>
                    <ul style="text-align:center;" id="estimates"></ul>
                    <ul id="feedbackq1"></ul>
                    <div id="feedback" class="initdis" style="visibility: none;">
                        <text style="text-align:center">How difficult was this question?</text>
                        <input type="range" min="0" max="4" value="2" class="slider" id="feedbackslider" style="height: 10px; padding: 5%; background-color: white;">
                        <input style="text-align:center; margin: 5px;" type="button" value="Medium" id="subjectivesubmit" onclick="subjectiveSubmit()"/>
                    </div>
                </div>

                <div id="questionbox2" class="card" style="visibility: hidden; display: block">
                    <form style="text-align:center;" id="qb2form" name="qb2form">
                    <p style = padding:5px; id = "qb2text"> "question2"</p>
                    <input name="answer_choices"  type="radio" id="answer_choice_1"> <label id = "ac1label" for="answer_choice_1"> Choice 1 </label>       <br/>
                    <input name="answer_choices"  type="radio" id="answer_choice_2"> <label id = "ac2label" for="answer_choice_2"> Choice 2 </label>        <br/>
                    <input name="answer_choices"  type="radio" id="answer_choice_3"> <label id = "ac3label" for="answer_choice_3"> Choice 3 </label>        <br/>
                    <input name="answer_choices"  type="text" id="answer_choice_4" style="visibility:hidden;width:200px"> <label id = "ac4label" for="answer_choice_4"> Choice 4 </label>        <br/>
                    <input style="text-align:center;" type="submit" value="Submit" />
                    </form>
                </div>

                    <div id="desc" class="initdis">
                        <ul style="text-align:center;" id="properties"></ul>
                    </div>
            </div>
        </div>

        <div id="dmodel" class="initdis">
                <div class="card" style="height: 650px; width: 650px; margin:auto;">
                        <div id="viewer_3Dmoljs"  style="height: 650px; width: 650px;" class="viewer_3Dmoljs" data-cid="" data-backgroundcolor="#ffffff" data-style="stick"></div>
                </div>
        </div>

    <!-- 3dmol -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/3Dmol/1.4.0/3Dmol-min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    
    
    <!-- <form method="post" class = "form">
        {% csrf_token %}
        <input type = text class = "input">
        <button type = submit>Molecule</button>
    </form> -->



    <script type="text/javascript"> //3dmol stuff

        document.getElementById('molecule-dropdown').addEventListener('change', handleSubmit)

        $("input[placeholder]").each(function() {
            $(this).attr('size', $(this).attr('placeholder').length);
            console.log("set placeholder width" + $(this).attr('placeholder').length)
        });
        document.getElementById('fname').addEventListener('keyup', styleSearch)

        function styleSearch(e){
            if(document.getElementById('fname').value.length!=0){
                document.getElementById('fname').style.outline = "5px dotted green"
                document.getElementById('molecule-dropdown').style.outline = "0px"
            }
            else{
                document.getElementById('fname').style.outline = "0px"
                document.getElementById('molecule-dropdown').style.outline = "5px dotted green"
            }

        }   
        


        function enable(){
            document.getElementById('drugSubmit').disabled = false
            console.log("reenabled button")
        }

        //very important, name = molecules searched for, used for submits/solves
        var name
        var token = '{{csrf_token}}';

        async function handleSubmit(e){
            //disable the button
            e.submitter.disabled = true
            //reset everything on screen
            questionbox1.style.visibility = 'visible';
            // questionbox2.style.visibility = 'visible';
            document.getElementById("mapbox").innerHTML = ""
            document.getElementById("druginfo").innerHTML = ""
            document.getElementById("estimates").innerHTML = ""
            document.getElementById("properties").innerHTML = ""
            feedback.style.display = 'none';

            
            var csrf = $("input[name=csrfmiddlewaretoken]").value;

            e.preventDefault();

            name = document.getElementById('fname').value.length > 0 ? document.getElementById('fname').value : document.getElementById('molecule-dropdown').value;
            // console.log(name.split(','))
            //single svg case

            if (!name.includes(",")) {
	            const cidurl = `https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/${name}/cids/txt`;
	            const smilesurl = `https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/${name}/property/CanonicalSMILES/txt`;
	            const cidresponse = await fetch(cidurl);
	            const cid = await cidresponse.text();
	            let text1 = cid.trim()
	            
	            const smilesresponse = await fetch(smilesurl);
	            const smiles = await smilesresponse.text();
                //const viewer = document.getElementById('viewer_3Dmoljs');
                //viewer.setAttribute('data-cid', cid);
                
                var viewer = $3Dmol.createViewer(
                    'viewer_3Dmoljs', //id of div to create canvas in
                    { backgroundColor: 'white'}
                );
                
                $3Dmol.download("cid:"+text1,viewer,{},function() {     
                    viewer.setStyle({stick:{}});
                    viewer.zoomTo();
                    viewer.render();
                });

                $.ajax({
                    url: '',
                    type: 'get',
                    data: {
                        mol: name,
                        smiles: smiles,
                        maptag: document.getElementById("maptag").value,
                        desccheck: document.getElementById("desccheck").checked,
                        mapmodecheck: document.getElementById("mapmodecheck").checked,
                        timestamp: Date.now()
                    },
                    success: function(response) {
                        if(document.getElementById("mapmodecheck").checked){
                            hideQuestionBoxes()

                            document.getElementById('mapbox').innerHTML += `<h2 class='maptext'>Select the real ${$("#maptag option:selected").text().toLowerCase()} map.</h2><div class="break"></div>`
                            insertSVGs(response.molsvg, response.invertmolsvg)
                            createMapListeners()
                        }
                        else{
                            document.getElementById('druginfo').innerHTML += response.molsvg
                            estimates = response.estimates
                            for (let i = 0; i < estimates.length; i++){
                                // $("#estimates").append('<li>' + estimates[i]);
                                $("#estimates").append('<li>' + pkaquestion(estimates[i]))
                                $("#estimates").append('<li>' + `<button type="button" class="pkahint" data-subtracts='${estimates[i][3]}'> ^ Show Hint ^ </button>`)  
                            }
                            

                            fgs = response.fglist
                            fgs.forEach(function(pair) {
                                $("#estimates").append('<li>' + fgquestion(pair))
                            })

                            rotbs = response.rotbs
                            if(rotbs.length > 0){
                                $("#estimates").append('<li>' + rotbquestion(rotbs))
                            }
                            createListeners();

                            props = JSON.parse(response.props)
                            console.log(props)
                            for (const [key, value] of Object.entries(props)) {
                                $("#properties").append('<li>' + key + ": " + value);
                                // $("#properties").append('<li>' + propquestion(props[i]))
                            }

                            if(estimates.length ==0 && response.litpka != 0){
                                showquestion2(response.litpka, response.reference)
                            }
                            else{
                                writeLitPka(response.litpka, response.reference)
                            }
                            checkAll()
                        }
                        


                    }
                })
            }
            
            //multiple svg case
            if(name.includes(",")){
                $.ajax({
                    url: 'manySVG',
                    type: 'get',
                    data: {
                        mols: name,
                        maptag: document.getElementById("maptag").value,
                        desccheck: document.getElementById("desccheck").checked,
                        timestamp: Date.now()
                    },
                    success: function(response) {
                        hideQuestionBoxes()
                        insertManySVGs(response.svgs, response.props)
                    }
                })
            }


        }

        document.getElementById("drugLookupForm").addEventListener('submit', handleSubmit);

    
    </script>
    <script>// make svgs
        function insertSVGs(svg, invertsvg){
            mapbox = document.querySelector('.mapbox')
            form = '<form><div id="mapboxquestion" class="card" style="display: block;"><p style = padding:5px; id = "mapqb1text"> "Which of these depictions is more accurate?"</p><input name="mapqb1choices"  type="radio" id="mapqb1_1"> <label id = "ac1label" for="mapqb1_1"> Choice 1 </label>       <br/>               <input name="mapqb1choices"  type="radio" id="mapqb1_2"> <label id = "ac2label" for="mapqb1_2"> Choice 2 </label>       <br/><input name="submit" value="Submit" type="button" id="mapsubmit" onclick="mapSubmit()"><h3 id="mapfeedback"></h3></div></form>'
            if(Math.floor(Math.random()*2)==0){
                console.log("svg then invert")
                mapbox.innerHTML += svg
                mapbox.innerHTML += invertsvg
                mapbox.innerHTML += form
                svgs = Array(document.querySelectorAll('svg'))
                $(svgs[0]).addClass('realsvg')
                $(svgs[1]).addClass('fakesvg')
                document.getElementById("mapqb1_1").value = "correct"
            }
                
            else{
                console.log("invert then normal")
                mapbox.innerHTML += invertsvg
                mapbox.innerHTML += svg
                mapbox.innerHTML += form
                svgs = Array(document.querySelectorAll('svg'))
                $(svgs[0]).addClass('fakesvg')
                $(svgs[1]).addClass('realsvg')
                document.getElementById("mapqb1_2").value = "correct"
            }
                
        }
        function mapSubmit(){
            //check answer
            var radios = document.getElementsByName('mapqb1choices');
            var val= "";
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    val = radios[i].value; 
                    break;
                }
            }
            if (val == "" ) {
                alert('Select a choice');
            } else if (val.match("correct") ) {
                console.log($("#mapfeedback"))
                document.getElementById("mapfeedback").innerText = 'Nice!';
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: 'mapmodesolvepost',
                    type: 'post',
                    data: {
                        mol: name,
                    },
                    success: function(response) {
                        console.log('added 1 to maps solved')
                    }
                })
            } else {
                document.getElementById("mapfeedback").innerText = 'Try again!';
            }
            //send post
            // $(ajax)
        }
        function insertManySVGs(svgArray, propArray){
            i = 0
            svgArray.forEach(function(s){
                
                mapbox.innerHTML += s
                props = JSON.parse(propArray[i])
                console.log(props)
                for (const [key, value] of Object.entries(props)) {
                    $("#mapbox").append('<li>' + key + ": " + value);
                    // $("#properties").append('<li>' + propquestion(props[i]))
                }
                i++
            })
                
                svgs = Array(document.querySelectorAll('svg'))
            }
        function hideQuestionBoxes(){
           document.getElementById("questionbox1").style.visibility = "hidden"
           document.getElementById("questionbox2").style.visibility = "hidden"
        }

    </script>
    <script>// select elements
        function writeLitPka(pka, ref){
            if(pka != 0){
                $("#estimates").append("<li id='litpka' style='visibility:hidden'>" + `The literature pka is <a href="https://${ref}"" target="_blank">${pka}</a>.`)
            }
            else{
                $("#estimates").append("<li id='litpka' style='visibility:hidden'>" + `No literature pka found in our database.`)
            }
            
        }
        function showquestion2(pka, ref){
            document.getElementById("questionbox2").style.visibility = 'visible'
            document.getElementById("qb2text").innerText = "There's no apparent carboxylic acid or amine in this molecule. Do you think it's still an acid or a base?"

            if(pka < 7){
                document.getElementById("answer_choice_1").value = "correct"
            }else if(pka > 7){
                document.getElementById("answer_choice_2").value = "correct"
            }else if(pka == 7){
                document.getElementById("answer_choice_3").value = "correct"
            }
            
            document.getElementById("ac1label").innerHTML = "Yes, an acid"
            document.getElementById("ac2label").innerHTML = "Yes, a base"
            document.getElementById("ac3label").innerHTML = "No"
            document.getElementById("ac4label").innerHTML = "Guess the pka"
            
            document.getElementById("qb2form").addEventListener('click', showguessbox)
            function showguessbox(){
                if(document.getElementById("answer_choice_1").checked || document.getElementById("answer_choice_2").checked){
                    document.getElementById("answer_choice_4").style.visibility = "visible"
                    document.getElementById("answer_choice_4").required = "true"
                    document.getElementById("ac4label").style.visibility = "visible"
                }
                else{
                    document.getElementById("ac4label").style.visibility = "hidden"
                    document.getElementById("answer_choice_4").required = "false"
                    document.getElementById("answer_choice_4").style.visibility = "hidden"
                }
            }
            document.getElementById("qb2form").addEventListener('submit', qb2submit);
            $("#questionbox2").append(`<text id='litpka2' style='visibility:hidden' data-litpka=${pka}>` + `The literature pka is <a href="https://${ref}"" target="_blank">${pka}</a>. `)
        }
        function qb2submit(e){

            e.preventDefault();
            
            var radios = document.getElementsByName('answer_choices');
            var val= "";
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    val = radios[i].value; 
                    break;
                }
            }
            if (val == "" ) {
                alert('Select a choice');
            } else if (val.match("correct") ) {
                $("#questionbox2").append(`Nice! You were ${(parseFloat($("#litpka2").data("litpka"))-parseFloat(answer_choice_4.value)).toPrecision(2)} off of the literature value.`);
                document.getElementById("litpka2").style.visibility = "visible"
            } else {
                alert('Answer is wrong');
            }
        }
        function createListeners(){
            document.getElementById("questionbox1").classList.remove("solved")


            let elements = Array.from(document.querySelectorAll('svg .atom-selector'));
        
            // add event listeners
            elements.forEach(function(el) {
                //el.addEventListener("touchstart", start);
                el.addEventListener("mousedown",  atomclick);
                //el.addEventListener("touchmove",  move);
                //el.addEventListener("mousemove",  move);
            })

            
            let checks = Array.from(document.querySelectorAll('.pkaquestion'));
            checks.forEach(function(ch) {
                ch.addEventListener("keyup", checkanswer)
                console.log(ch)
            })
            let hints = Array.from(document.querySelectorAll('.pkahint'));
            hints.forEach(function(ch) {
                ch.addEventListener("click", showpkahint)
            })
            let buts = Array.from(document.querySelectorAll('.fg'));
            buts.forEach(function(ch) {
                ch.addEventListener("click", fgselect)
                $(ch).data('selectedAtoms', [])
            })
            
            $('.rotbquestion').on("click", rotbselect)
            $('.rotbquestion').data('selectedBonds', [])
            let bonds = Array.from(document.querySelectorAll('svg .bond-selector'));
        
            // add event listeners
            bonds.forEach(function(el) {
                //el.addEventListener("touchstart", start);
                el.style.strokeWidth = 10
                el.addEventListener("mousedown",  bondclick);
                //el.addEventListener("touchmove",  move);
                //el.addEventListener("mousemove",  move);
            })
        }
        
        function createMapListeners(){
            svgs = Array(document.querySelectorAll('svg'))
            svgs.forEach(function(svg){
                $(svg).addClass('map')
                $(svg).on('click', svgclick)
            })

        }

        function svgclick(e){
            svgs = Array(document.querySelectorAll('svg'))
            svgs.forEach(function(el){
                $(el).getElementById('rect').style.stroke = 'none'
                $(el).getElementById('rect').style.strokeWidth = '10px'
            })

            let svg = e.currentTarget
            color = $(svg).classList.contains('realsvg')? 'green':'red'
            svg.getElementById('rect').style.stroke = color
        }

        // event listener functions

        function atomclick(e){

            let t = e.currentTarget

            let i = parseInt(t.classList[1].replace("atom-", ""))
            
            fgbut = $(document).find(".fg.active")
            console.log(fgbut)       
            
            
            answers = fgbut.data('answers').split(',').map(Number)
            activeatoms = fgbut.data('selectedAtoms').sort((a, b) => a - b)
            console.log(activeatoms)
            
            if(activeatoms.includes(i)){
                activeatoms.splice(activeatoms.indexOf(i), 1)
                t.style.strokeOpacity = 0
                t.style.fillOpacity = 0
            }
            else{
                activeatoms.push(i)

                strokecolor = answers.includes(i)? "green":"red"
                t.setAttribute("r", 15)
                t.style.stroke = strokecolor
                t.style.strokeWidth = "3"

            }
            
            fgbut.data('selectedAtoms', activeatoms.sort((a, b) => a - b))

            // console.log(i);
            // //console.log(fgbut.data('selectedAtoms'));
            // console.log("Sort Selected Atoms:")
            // console.log(fgbut.data('selectedAtoms').sort((a, b) => a - b))
            // console.log("Selected atoms:")
            // console.log(fgbut.data('selectedAtoms'));
            
            console.log(answers)

            drawSelectedAtoms(activeatoms)

            if(activeatoms.toString() === answers.toString()){
                fgbut.removeClass("active").addClass("solved")
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: 'fgsolvepost',
                    type: 'post',
                    data: {
                        mol: name,
                    },
                    success: function(response) {
                        console.log('added 1 to fgs solved')
                    }
                })
                checkAll()
                console.log("solved")
            }

            // just an example
        }
        function bondclick(e){

            let t = e.currentTarget

            let i = parseInt(t.classList[1].replace("bond-", ""))
            
            rotbbut = $(document).find(".rotbquestion.active")
            console.log(rotbbut)       
            
            
            answers = rotbbut.data('answers')
            console.log("answers:")
            console.log(answers)

            activebonds = rotbbut.data('selectedBonds').sort((a, b) => a - b)
            console.log(activebonds)
            
            if(activebonds.includes(i)){
                activebonds.splice(activebonds.indexOf(i), 1)
                t.style.strokeOpacity = 0
                t.style.fillOpacity = 0
            }
            else{
                activebonds.push(i)

                strokecolor = answers.includes(i)? "green":"red"
                t.setAttribute("r", 15)
                t.style.stroke = strokecolor

            }
            
            rotbbut.data('selectedBonds', activebonds.sort((a, b) => a - b))            
            console.log(answers)
            drawSelectedBonds(activebonds)

            if(activebonds.toString() === answers.toString()){
                rotbbut.removeClass("active").addClass("solved")
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: 'rotbsolvepost',
                    type: 'post',
                    data: {
                        mol: name,
                    },
                    success: function(response) {
                        console.log('added 1 to rotbs solved')
                    }
                })
                checkAll()
                console.log("solved")
            }

            // just an example
        }
        function move(e){
            console.log(e.currentTarget);
            // just an example
        }

        function drawSelectedAtoms(activeatoms){
            let elements = Array.from(document.querySelectorAll('svg .atom-selector'))
            console.log(elements)
            elements.forEach(function(el) {
                if(activeatoms.includes(parseInt(el.classList[1].replace('atom-', "")))){
                    el.style.fillOpacity = 0.5
                    el.style.strokeOpacity = 100
                }
                else{
                    el.style.fillOpacity = 0
                    el.style.strokeOpacity = 0
                }

            })
        }
        function drawSelectedBonds(activebonds){
            let elements = Array.from(document.querySelectorAll('svg .bond-selector'))
            console.log(elements)
            elements.forEach(function(el) {
                if(activebonds.includes(parseInt(el.classList[1].replace('bond-', "")))){
                    el.style.fillOpacity = 0.5
                    el.style.strokeOpacity = 100
                }
                else{
                    el.style.fillOpacity = 0
                    el.style.strokeOpacity = 0
                }

            })
        }
        function checkanswer(e){
            answer = $(e.currentTarget).data('answer')
            console.log(answer)
            field = e.currentTarget.querySelector('input')
            console.log(field)
            if (field.value.match(answer)){
                e.currentTarget.lastChild.innerHTML = "✔"
                field.readOnly = true
                e.currentTarget.classList.add("solved")
                console.log("pka solved")
                console.log(name)
                $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: 'pkasolvepost',
                    type: 'post',
                    data: {
                        mol: name,
                    },
                    success: function(response) {
                        console.log('added 1 to pkas solved')
                    }
                })
                checkAll()
            }               
            else{
                e.currentTarget.lastChild.innerHTML = "❌"
            }
        }



        function showpkahint(e){
            let atoms = Array.from(document.querySelectorAll('svg .highlight-atom'))
            atoms.forEach(function(el) {
                el.style.fillOpacity = "0"
                el.style.strokeOpacity = "0"
            })
            sublist = $(e.currentTarget).data('subtracts').split(',')
            console.log(sublist)
            sublist.forEach(function(el) {
                atom = document.querySelector(`svg .atom-selector.atom-${el}`)
                if (atom !== null){
                    console.log(atom)
                    atom.classList.add("highlight-atom")
                    atom.style.fill = "yellow"
                    atom.strokecolor = "darkkhaki"
                    atom.style.fillOpacity = "0.5"
                    atom.style.strokeOpacity = "0.5"
                    atom.style.strokeWidth = "3"
                }
            })
        }



        function fgselect(e){
            $(document).find(".fg").removeClass("active");
            
            if(!(e.currentTarget.classList.contains("solved"))){
                e.currentTarget.classList.add('active')
            }
            
            drawSelectedAtoms($(e.currentTarget).data('selectedAtoms'))
        }

        function rotbselect(e){
            if(e.currentTarget.classList.contains('active')){
                e.currentTarget.classList.remove('active')
                return
            }
            if(!(e.currentTarget.classList.contains("solved"))){
                e.currentTarget.classList.add('active')
            }   
            drawSelectedBonds($(e.currentTarget).data('selectedBonds'))
        }



    </script>

    <script>// make questions and check all
        function pkaquestion(estArray){
            let question = `<div class=pkaquestion data-answer='${estArray[1]}'> What's the estimated pka of the ${estArray[2]}? <input type=text/><text class='check'></text></div>`;
           
            console.log(question)
            return question
        }
        function fgquestion(pair){
            tup = pair[1]
            tup.sort((a, b) => a - b)
            console.log(tup)
            let question = `<button type="button" class="fg" data-answers='${tup}'> Select the ${pair[0]} (${tup.length} atoms) </button>`;
            return question
        }

        function rotbquestion(rotbs){
            console.log(rotbs)
            rotbs.sort((a, b) => a - b)
            let question = `<button type="button" class="rotbquestion" data-answers='${JSON.stringify(rotbs)}'> Select the Rotatable Bonds (${rotbs.length} bonds)</button>`;
            return question
        }

        function checkAll(){
            allSolved = true
            let checks = Array.from(document.querySelectorAll('.pkaquestion'));
            checks.forEach(function(ch) {

                allSolved = allSolved && ch.classList.contains("solved")

            })
            if(allSolved){
                document.getElementById("questionbox1").querySelector("#litpka").style.visibility = "visible"
            }
            let buts = Array.from(document.querySelectorAll('.fg'));
            buts.forEach(function(but) {

                allSolved = allSolved && but.classList.contains("solved")

            })
            let rotb = Array.from(document.querySelectorAll('.rotbquestion'));
            rotb.forEach(function(rotb) {
                console.log("checking rotb question")
                console.log(rotb.classList)
                allSolved = allSolved && rotb.classList.contains("solved")

            })
            
            if(allSolved){
                console.log("all Solved")
                document.getElementById("questionbox1").classList.add("solved")
                feedback.style.display = 'contents';
            }
            
        }

    </script>

    <script> //feedback
        var slidernumber = document.getElementById("feedbackslider")
        const difficultysettings = ["Very Easy", "Easy", "Medium", "Difficult", "Very Difficult"]
        difficulty = document.getElementById("subjectivesubmit")

        slidernumber.oninput = function() {
            difficulty.value = difficultysettings[slidernumber.value];
        }

        function subjectiveSubmit(qbname){
            $.ajax({
                    headers: { "X-CSRFToken": token },
                    url: 'subjectivepost',
                    type: 'post',
                    data: {
                        mol: name,
                        difficulty: difficulty.value
                        questionbox: qbname
                    },
                    success: function(response) {
                        console.log('recorded subjective')
                    }
                })

            difficulty.disabled = true
        }
    </script>
</body>
</html>
