{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="author" href="https://scholar.google.com/citations?user=gci8pWIAAAAJ&hl=en">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% include 'CoreStaticTemplates/staticCss.html' %}
    <style>
    form{
        display: flex;
        justify-content: center;
    }
    [type="radio"]:not(:checked), [type="radio"]:checked {
        position: relative;
        display: inline-flex;
        opacity: 1;
        pointer-events: auto;
        margin-left: 10px;
    } 
    </style>
</head>
<body>
    <div>
        <div id="content-wrap">
            <div class="container-fluid teal darken-4" style="height: 5rem;">
                <div class="h-100 text-center display-4 text-white">Pharmaceutics pKa</div>
        </div>
        <div>
            <input type="button" value="Begin Quiz 2" id="begin" onclick="begin()">
        </div>
        <form>
            <div id="questionbox1" class="card" style="visibility: hidden; display: block;">                
                <p style = padding:5px; id = "qb1text"> "Which of these molecules would have the highest logP?"</p>
                <img src="">
                <input name="qb1choices"  type="radio" id="qb1_1"> <label id = "ac1label" for="qb1_1"> Choice 1 </label>       <br/>
                <input name="qb1choices"  type="radio" id="qb1_2"> <label id = "ac2label" for="qb1_2"> Choice 2 </label>        <br/>
                <input name="qb1choices"  type="radio" id="qb1_3"> <label id = "ac3label" for="qb1_3"> Choice 3 </label>        <br/>
                <input name="qb1choices"  type="radio" id="qb1_4"> <label id = "ac4label" for="qb1_4"> Choice 4 </label>        <br/>                
            </div>
            <div id="questionbox2" class="card" style="visibility: hidden; display: block;">              
                <p style = padding:5px; id = "qb2text"> "Which of these molecules would be mostly ionized at pH 2?"</p>
                <img src="">
                <input name="qb2choices"  type="radio" id="qb2_1"> <label id = "ac1label" for="qb2_1"> Choice 1 </label>        <br/>
                <input name="qb2choices"  type="radio" id="qb2_2"> <label id = "ac2label" for="qb2_2"> Choice 2 </label>        <br/>
                <input name="qb2choices"  type="radio" id="qb2_3"> <label id = "ac3label" for="qb2_3"> Choice 3 </label>        <br/>
                <input name="qb2choices"  type="radio" id="qb2_4"> <label id = "ac4label" for="qb2_4"> Choice 4 </label>        <br/>          
            </div>
            <div id="questionbox3" class="card" style="visibility: hidden; display: block;">  
                <p style = padding:5px; id = "qb3text"> "Which of these molecules is more flexible?"</p>
                <img src="">
                <input name="qb3choices"  type="radio" id="qb3_1"> <label id = "ac1label" for="qb3_1"> Choice 1 </label>        <br/>
                <input name="qb3choices"  type="radio" id="qb3_2"> <label id = "ac2label" for="qb3_2"> Choice 2 </label>        <br/>
                <input name="qb3choices"  type="radio" id="qb3_3"> <label id = "ac3label" for="qb3_3"> Choice 3 </label>        <br/>
                <input name="qb3choices"  type="radio" id="qb3_4"> <label id = "ac4label" for="qb3_4"> Choice 4 </label>        <br/>
            </div>
            <div id="questionbox4" class="card" style="visibility: hidden; display: block;"> 
                <p style = padding:5px; id = "qb4text"> "Which of these molecules would be the most acidic?"</p>
                <img src="">
                <input name="qb4choices"  type="radio" id="qb4_1"> <label id = "ac1label" for="qb4_1"> Choice 1 </label>        <br/>
                <input name="qb4choices"  type="radio" id="qb4_2"> <label id = "ac2label" for="qb4_2"> Choice 2 </label>        <br/>
                <input name="qb4choices"  type="radio" id="qb4_3"> <label id = "ac3label" for="qb4_3"> Choice 3 </label>        <br/>
                <input name="qb4choices"  type="radio" id="qb4_4"> <label id = "ac4label" for="qb4_4"> Choice 4 </label>        <br/>
            </div>
            <div id="questionbox5" class="card" style="visibility: hidden; display: block;">
                <p style = padding:5px; id = "qb5text"> "Which of these electronegativity maps looks most plausible?"</p>
                <img src="">
                <input name="qb5choices"  type="radio" id="qb5_1"> <label id = "ac1label" for="qb5_1"> Choice 1 </label>        <br/>
                <input name="qb5choices"  type="radio" id="qb5_2"> <label id = "ac2label" for="qb5_2"> Choice 2 </label>        <br/>
                <input name="qb5choices"  type="radio" id="qb5_3"> <label id = "ac3label" for="qb5_3"> Choice 3 </label>        <br/>
                <input name="qb5choices"  type="radio" id="qb5_4"> <label id = "ac4label" for="qb5_4"> Choice 4 </label>        <br/>
            </div>
            <input name="submit" type="button" id="submit" value="Submit" onclick="handleSubmit()">
        </form>
    </div>
    
</body>

<script>
    var sec = 0
    var t
    function begin(){
        document.getElementById("begin").disabled=true
        timer()
        cards = Array.from(document.querySelectorAll(".card"))
        cards.forEach(function(el){
            el.style.visibility = "visible"
                        
        });
    }
    function handleSubmit(){
        var token = '{{csrf_token}}';
        clearTimeout(t)
        console.log(sec)
        $.ajax({
            headers: { "X-CSRFToken": token },
            url: 'quiz2post',
            type: 'post',
            data: {
                q1: "",
                q2: "",
                q3: "",
                q4: "",
                q5: "",
            },
            success: function(response) {
                console.log('responses have been saved')
            }
        })
    }
    function timer(){
        t = setTimeout(tick, 1000)
    }
    function tick(){
        sec++
        timer()
    }
</script>